:root {
  --tile-width-desktop: 32.5%;
  --tile-width-mobile: 49%;
  --tile-background-color: #f4f4f4;
  --tile-border: 1px solid #dcdcdc;
}

.choice-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choice-grid > div {
  box-sizing: border-box;
  width: var(--tile-width-desktop);
  display: flex;
  flex-direction: column;
  background-color: var(--tile-background-color);
  border: var(--tile-border);
  margin-bottom: 20px;
  padding: 10px;
}

@media (max-width: 700px) {
  article {
    width: 95%;
  }

  header div {
    display: none;
  }
}

@media (max-width: 500px) {
  article {
    width: 95%;
  }

  header div {
    display: none;
  }

  .choice-grid > div {
    width: var(--tile-width-mobile);
  }
}