:root {
  --tile-width-desktop: 32.5%;
  --tile-width-mobile: 49%;
  --tile-background-color: #f4f4f4;
  --tile-border: 1px solid #dcdcdc;
}

.choice-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choice-grid > div {
  box-sizing: border-box;
  width: var(--tile-width-desktop);
  display: flex;
  flex-direction: column;
  background-color: var(--tile-background-color);
  border: var(--tile-border);
  margin-bottom: 20px;
  padding: 10px;
}

.choice-grid > div.active {
  background-color: #cfe3ff;
}

/**
  * Uso questo meccanismo per evitare di modificare l'opacità ad ogni singolo
  * div tramite JS.
  * Con .choice-grid:has(div.active) seleziono tutte le section .choice-grid
  * che contengono un div con classe 'active'.
  * Con div:not(.active) seleziono tutti i div che non sono attivi.
 **/
 .choice-grid:has(div.active) > div:not(.active) {
  opacity: 0.6;
}

.result {
  display: none;
  margin-top: 20px;
  padding: 20px;
}

.result .title {
  margin: 0;
}

.result button.reset {
  width: 100%;
  height: 50px;
  border-style: none;
  background-color: #cecece;
  cursor: pointer;
}

.result button.reset:hover {
  background-color: #e0e0e0;
}

@media (max-width: 700px) {
  article {
    width: 95%;
  }

  header div {
    display: none;
  }
}

@media (max-width: 500px) {
  article {
    width: 95%;
  }

  header div {
    display: none;
  }

  .choice-grid > div {
    width: var(--tile-width-mobile);
  }
}